body {
  margin: 0;
  padding: 0;
  background-image: url('golfpic.png'); 
  
}


.Main {
  height: 8%;
  display: flex;
  align-items: center;
}

.logo{
  width: 100px;
  cursor: pointer;
}
nav{
  flex: 1;
  text-align: right;
  padding:30px
  
}
nav ul li{
  list-style: none;
  display:inline-block;
  margin-left: 60px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(168, 40, 40);
  font-size: 15px;
  font-weight: bold;
}




.content {
  padding: 130px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  
  color: rgb(197, 135, 135);
}

  .join {
    text-decoration: none;
    background-color: #cb7c9e; 
    border: none;
    color: white; 
    padding: 10px 20px; 
    text-align: center;
    display: inline-block;
   
    font-size: 16px;
    border-radius: 5px; 
  }
  

