body{
  margin: 0;
  padding: 0;
 
  
  
  
}


.Main {
  
  margin: auto;
  
  display: flex;
  align-items: center;
  background-color: rgb(125, 139, 139);
 
  
 
  
}

.logo{
  width: 100px;
  cursor: pointer;
  padding: 40px;
  margin-left: 10px;
}
 
    

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 18%;
  padding-right: 18%;
  

  
}
nav ul li{
  list-style: none;
  display:inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(19, 17, 17);
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}




.content {
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  font-size: 30px;
  color: rgb(7, 7, 7);
  

 
}

.background{
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items:end;
  background-image: url('newgolfbackground.png');
  background-size: cover;
  background-position: center;
  width:100%;
  color: #fff;
  height: 770px;
  padding:20px 0px;
}
  .join {
    text-decoration: none;
    background-color: #110d0f; 
    border: none;
    color: white; 
    padding: 10px 20px; 
    
    display: inline-block;
   
    font-size: 16px;
    border-radius: 5px; 
  
  
 
  }


 
    
    
  
  .About{
    
    margin: auto;
  
    display: flex;
    align-items: center;
    background-color: rgb(125, 139, 139);
   
    
  
  }
    .About .New {
    width: 80%;
    display: block;
    margin:0px auto;
    padding: 50px 0px;
  
  
  }
  .New .container{
     width: 100%;
     text-align: center;
     margin-bottom: 50px;
  }
  .New .golf{
    text-align: center;
    width: 40%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    color: black;
  
  
  }
  .New .history{
    padding: 30px;
    text-align: center;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    color: black;
  }

.New .Goal{
  padding: 30px;
  text-align: center;
  width: 50%;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  color: black;
}

  .New .container h1{
     text-transform: uppercase;
     font-size: 35px;
     color: black;
  }
  .New .container h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: rgb(12, 13, 13);
    border-radius: 25px;
    display: block;
    margin: auto;
  }
  .middle{
    float: left;
    width:55%;
  
  
  }
  
  
.image-section {
  float: right;
  width: 45%; 
  text-align: right;
}

.image-section img {
  width: 100%;
  height: auto;
}
  
  
  .middle .article h3{
    color:black;
    font-size: 30px;
  
  }
  .middle .article p{
    margin-top: 20px;
    font-size: 23px;
    line-height: 1.5;
    color: black;
    
  
  }
  .middle .historys{
    color:black;
    font-size: 23px;
  }


  
  .image2 {
    float: right;
    width: 45%;
    height: 45px; 
    text-align: right;
  }
  
  .image2 img {
    width: 100%;
    height: auto;
    padding: 100px;
    margin-right: auto;
    
   
  }

  
 
  .middle .Goals{
    color:black;
    font-size: 23px;
  }




  
  
  .newservice{
    background-color: aquamarine;
  }
 
  .newservice h1{
    text-align: center;
    padding-top:  10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    background-color: rgb(171, 171, 199);
    
    
    
    
  }
  
  .newservice h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: rgb(12, 13, 13);
  border-radius: 25px;
  display: block;
  margin: auto;
}
 
.row{
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
  grid-gap: 30px;
}

.rows{
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
  grid-gap: 30px;
}

.our{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 30px;
 

}

.serv{
  background-color: aqua;
  padding: 15px 15px 15px 5px;
  width: 310px;
  height: 70px;
  text-align: center;
  margin:10px;
  border-radius: 10px;


}
.services0{
  background-image: url(image\ 1.jpg);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;

}



.services1{
  background-image: url(image\ 2.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services2{
  background-image: url(image\ 3.jpg);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services3{
  background-image: url(image\ 5.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services4{
  background-image: url(image\ 6.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services5{
  background-image: url(inputimage.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}




