body{
  margin: 0px;
  padding: 0px;
  
 
  
  
}


.Main {
  
  margin: auto;
  
  display: flex;
  align-items: center;
  background-color: rgb(125, 139, 139);
 
  
 
  
}

.logo{
  width: 100px;
  cursor: pointer;
  padding: 40px;
  margin-left: 10px;

 
 }
 
    

nav{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 22%;
  padding-right:20%;
 
  top: 3;

  
}
nav ul li{
  list-style: none;
  display:inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(19, 17, 17);
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}




.content {
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  
  font-size: 30px;
  color: rgb(7, 7, 7);
  

 
}

.background{
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items:end;
  background-image: url('newgolfbackground.png');
  background-size: cover;
  background-position: center;
  width:100%;
  color: #fff;
  height: 770px;
  padding:20px 0px;
}
  .join {
    background-color: rgb(222, 230, 127);
  
  
 
  }

  @media (max-width: 768px) {
    .Main {
      display: block;
      text-align: center;
    }
  
    .logo {
      padding: 10px;
      margin: 0;
      align-items: center;
    }
  
    .content{
      font-size: 20px;
    }
    nav {
      display: block;
      padding: 0;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  
  
  /*about us*/

.all{
  background-image: url(newgolfbackground.png);
}


  .heading{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
   


  }
  
  .heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;


  }

  .heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #afc6b0;
  }
  .heading p{
    font-size: 18px;
    color: #a86666;
    margin-bottom: 35px;
    font-family: cursive;
  }



  .heading1{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

  }

  .Aboutheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }


  .aboutimage{ 
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    width: 563px;
    height: 600px;

 }

 .aboutimage img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;


 }
  
 .aboutcontent{
  flex: 1;
 }
  
 .aboutcontent h1{
  font-size: 23px;
 
  color: #333;
  line-height: 1.2em;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-style: outset;
   border-width: 5px;
   border-color: bisque;
   border-radius: 10px;
   padding: 5px;
   background-color: #afc6b0;
 }

 .aboutcontent p{
     font-size: 18px;
     line-height: 1.5;
     color: #131010;
     padding: 40px;
     border-style: outset;
   border-width: 5px;
   border-color: bisque;
   border-radius: 15px;
   padding: 20px;
background-color: #8e81d6;
 }



.provide h1{
 text-align: center;
}
 
.our1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
} 


.provide1{
 
    background-color: #bad0ba;
    width:360px;
    height: 300px;;
    margin: 50px;
    
    
   
    
}
.face2{
  padding: 15px 15px 15px 5px;
  width: 310px;
  height: 70px;
  text-align: center;
  margin:10px;
  border-radius: 10px;

}
.face2 p{

  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 768px ) {
  .logo {
      width: 60px;
  }

  nav ul li {
      margin: 0 5px;
  }

  .heading h1 {
      font-size: 30px;
  }

  .heading h1::after {
      height: 2px;
  }

  .heading p {
      font-size: 12px;
      margin-bottom: 10px;
  }

  .aboutimage {
      max-height: 300px;
      margin-bottom: 10px;
  }

  .aboutcontent h1 {
      font-size: 20px;
            padding: 5px;
            border-width: 3px;
            border-radius: 8px;
       }



  .aboutcontent p {
      font-size: 16px;
      padding: 10px;
      border-width: 3px;
      border-radius: 10px;
  }

  .provide1 {
    width: 90%; 
}

.our1 {
    margin-left: 0; 
}

}

/*Services*/

  
.pic{
  background-image: url(newgolfbackground.png);
}
  .newservice{
   
  }
 
  .newservice h1{
    text-align: center;
    padding:  5%;
   height: 0px;
    font-weight: 600;
   
    background-color: rgb(255, 255, 255);
    
    
    
    
  }
  
  .newservice h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: rgb(12, 13, 13);
  border-radius: 25px;
  display: block;
  margin: auto;
}
 
.row{
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
  grid-gap: 50px;
}

.rows{
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
  grid-gap: 30px;
}

.our{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 30px;
 

}

.serv{
  background-color: rgb(94, 177, 177);
  padding: 15px 15px 15px 5px;
  width: 310px;
  height: 70px;
  text-align: center;
  margin:10px;
  border-radius: 10px;


}
.services0{
  background-image: url(image\ 1.jpg);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;

}



.services1{
  background-image: url(image\ 2.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services2{
  background-image: url(image\ 3.jpg);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services3{
  background-image: url(image\ 5.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services4{
  background-image: url(image\ 6.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.services5{
  background-image: url(inputimage.webp);
  width:330px;
  height:401;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}








.newfacilities{
  background-color: antiquewhite;
}
 
.our{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
} 


.facilities{
 
    background-image: url(pexels-photo-326515.jpeg);
    width:360px;
    height: 300px;;
    margin: 50px;
    
    
   
    
}
.face1{
  padding: 15px 15px 15px 5px;
  width: 310px;
  height: 70px;
  text-align: center;
  margin:10px;
  border-radius: 10px;

}
.face1 p{

  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*contact form*/



.formall{
  background-image: url(newgolfbackground.png);
}


.form{
  
 
 width: 80%;
 margin: 50px auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
}

.form1{
  background: #fff;
  display: flex;
}

.form-left{
  flex-basis: 60%;
  padding: 40px 60px;
}

.form-right{
  flex-basis: 60%;
  padding: 40px ;
  background: rgb(207, 200, 192);
  color: rgb(3, 3, 3);
}
h1{
  margin-bottom: 10px;
}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
  flex-basis: 45%;


}

input{
  width: 100%;
  border:none;
  border-bottom: 1px solid #bb5353;
  outline:none;
  padding-bottom: 5px;

}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label{
  margin-bottom:  6px;
  display:block;
  color: #1c00b1;
}


button{
  background: #8e81d6;
  width: 100px;
  border: none;
  outline:none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 8px 5px 15px 0px rgba(28,0,181,0.3);

}

.form-left h1{
  color: #361ebf;
  font-weight: 600;
  margin-bottom: 30px;


}

.form-right h3{
  
  font-weight: 600;
  margin-bottom: 30px;

  
}

tr td:first-child{
      padding-right: 20px;

}


/*Faq*/


.faqback{
  background-image:url(newgolfbackground.png);

}
.faq{
  margin: 0 500px;
  max-width: 600px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;


}

  


.faq h1{
  color: black;
  text-align: center;
  padding:  5%;
 height: 0px;
  font-weight: 600;
}

.faq h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: rgb(12, 13, 13);
  border-radius: 35px;
  display: block;
  margin: auto;
}

.faq .tab{

  position: relative;
  background: white;
  padding: 7px 20px 20px;
  box-shadow: 0 15px 25px burlywood;
  border-radius: 5px;
  overflow: hidden;



}

.faq .tab input{
  appearance: none;

}

.faq .tab label
{
  display: flex;
  align-items: center;
  cursor: pointer;

}

.faq .tab label::after{
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: black;
  transition: transform 1s;
}

.faq .tab :hover::after{
  color: #333;

}

.faq .tab input:checked ~ label::after{
  transform: rotate(135deg);
}


.faq .tab label h2
{
  width: 40px;
  height:40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;




}


.faq .tab:nth-child(2) label h2
{
  background: linear-gradient(135deg,#558c55,#49c628);
}


.faq .tab:nth-child(3) label h2
{
  background: linear-gradient(135deg,#91a891,#49c628);
}


.faq .tab:nth-child(4) label h2
{
  background: linear-gradient(135deg,#6baa6b,#49c628);
}


.faq .tab:nth-child(5) label h2
{
  background: linear-gradient(135deg,#589158,#49c628);
}

.faq .tab label h3{
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;


}

.faq .tab .content1{
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.faq .tab input:checked ~ .content1
{
  max-height: 100vh;
  padding: 10px 0;
  color: #333;
  z-index: 10;




}






